<h2>
    Books Present in my Book Store 
</h2>



<button (click)="isShowing = !isShowing">
    <ng-container *ngIf="!isShowing">Show Books</ng-container>
    <ng-container *ngIf="isShowing">Hide Books</ng-container>
</button>



<input type="text" [(ngModel)] = "data" />

<br />
Data Entered in to the text field : {{ data }}

<!--
<ul *ngIf="isShowing">
    <li>
        <img [src]="src" 
        [alt] = "name" width="100" />
        {{ name }} by {{ author }}
    </li>
    <li>
        <img [src]="src2" 
        [alt] = "name2" width="100" />
        {{ name2 }} by {{ author2 }}
    </li>
</ul>

-->

<ul *ngIf="isShowing">

    <ng-container *ngFor="let book of books; let i = index">
    <li>
        {{ i + 1 }}
        <img [src]="book.src" 
        [alt] = "book.name" width="100" />
        {{ book.name }} by {{ book.author }}
    </li>

    </ng-container>
</ul>