
.test {
    color: red;
    background: yellow;
}

.first {
    color: brown;
    background: beige;
  }
  
  #one {
    color: black;
    background-color: purple;
  }
  
  #two {
    color: #ff9900;
    background-color: black;

  }
  
  h1 {
    color: blue;
    background: yellow;
  }
  